Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": [
    "eslint --fix"
  ],
  ".{js,ts,vue,json}": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Use single ref for useMediaQuery for SSR and CSR
  src/composables/use-media-query.js
Due: eslint --fix

Open filters menu in sidebar/modal
  src/components/VFilters/VFilterModal.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VDesktopMenuModalContent.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VMobileMenuModalContent.vue
  src/components/VHeaderFilter.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/search.vue
Due: eslint --fix

Rename components
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VMenuModal.vue
  src/components/VHeader/VSidebarContent.vue
Due: eslint --fix

Adjust tests
  test/unit/specs/components/VHeader/v-filter-button.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
Due: eslint --fix

🔄 Created local '.github/workflows/draft_release.yml' from remote '.github/workflows_downstream/draft_release.yml'
  .github/workflows/draft_release.yml
Due: none

🔄 Created local '.github/release_drafter.yml' from remote '.github/release_drafter.yml'
  .github/release_drafter.yml
Due: none

Delete old release drafter conf
  .github/release-drafter.yml
Due: none

Delete old release drafter workflow
  .github/workflows/release-drafter.yml
Due: none

Add icons
  src/assets/icons/all-content.svg
  src/assets/icons/audio-content.svg
  src/assets/icons/caret-down.svg
  src/assets/icons/ellipsis.svg
  src/assets/icons/image-content.svg
Due: none

Fix isHeaderScrolled returning undefined on SSR
  src/composables/use-window-scroll.js
Due: eslint --fix

Edit button styles
  src/components/VButton.vue
  src/components/VHeader/VFilterButton.vue
Due: eslint --fix

Add content switcher and page menu buttons
  src/components/VHeader/VContentSwitcher/VContentSwitcherButton.vue
  src/components/VHeader/VContentSwitcher/VPageMenuButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/meta/VContentSwitcherButton.stories.mdx
  src/components/VHeader/meta/VPageMenuButton.stories.mdx
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix, prettier --write

Add VButtonGroup component
  src/components/VButton.vue
  src/components/VButtonGroup.vue
  src/components/meta/VButtonGroup.stories.js
Due: eslint --fix

Add url validation and remove double slashes
  src/data/api-service.js
  src/data/audio-service.js
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Change filter component after hydration to prevent server-client mismatch
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderFilter.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Change filter component after hydration to prevent server-client mismatch
  src/locales/scripts/wp-locales.json
  test/e2e/content-types.spec.js
  test/e2e/filters.spec.js
  test/e2e/search.spec.js
Due: eslint --fix

Remove audio sample data
  src/data/audio-service.js
  src/data/sample-audio-responses.json
Due: eslint --fix

Add API url changes to the e2e tests
  test/e2e/filters.spec.js
Due: eslint --fix

Reuse the VModalContent for Filter modal
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VMenuModal.vue
  src/components/VModal/VModalContent.vue
  src/locales/scripts/wp-locales.json
  test/unit/specs/components/VHeader/v-filter-button.spec.js
Due: eslint --fix

init
  src/components/VSearchGrid.vue
  src/components/VSearchResultsTitle.vue
  test/unit/specs/components/v-search-results-title.spec.js
Due: eslint --fix

sr-only on mobile
  src/components/VSearchResultsTitle.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix

full width load more button
  src/components/ImageGrid/ImageGrid.vue
  src/components/ImageGrid/LoadMoreButton.vue
  src/components/VButton.vue
  src/components/VLoadMore.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/search.vue
  src/pages/search/audio.vue
Due: eslint --fix

Extract logo text and fix hiding mobile wordmark
  src/assets/icons/openverse-logo-text.svg
  src/components/VHeader/VHeader.vue
Due: eslint --fix

Fix tests
  src/components/ImageGrid/ImageGrid.vue
  src/components/VLoadMore.vue
  src/pages/search/audio.vue
  test/unit/specs/components/image-grid.spec.js
Due: eslint --fix

Update src/components/VButton.vue
  src/components/VButton.vue
Due: eslint --fix

Make sure to check for search request only
  test/e2e/filters.spec.js
Due: eslint --fix

Update src/components/VContentReport/VContentReportForm.vue
  src/components/VContentReport/VContentReportForm.vue
Due: eslint --fix

Fix the flag icon displaying as a square
  src/assets/icons/flag.svg
Due: none

Finish renaming reportServiceProp to service
  src/components/VContentReport/VContentReportForm.vue
Due: eslint --fix

Fix provider name not showing
  src/components/ImageDetails/VPhotoDetails.vue
Due: eslint --fix

Add nested object for dmca form strings
  src/components/VContentReport/VContentReportForm.vue
  src/components/VContentReport/VDmcaNotice.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix

Fix failing tests due to old prop name
  test/unit/specs/components/ContentReport/content-report-form.spec.js
Due: eslint --fix

Add searchbar to header (#491)
  src/assets/icons/openverse-logo-text.svg
  src/components/HeaderSection.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeader/meta/VSearchBar.stories.mdx
  src/components/VInputField/VInputField.vue
  src/components/VInputField/meta/VInputField.stories.mdx
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-match-routes.js
  src/composables/use-media-query.js
  src/composables/use-search-route.js
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/search.vue
  tailwind.config.js
  test/unit/specs/components/InputField/input-field.spec.js
  test/unit/specs/components/header-section.spec.js
  test/unit/specs/components/search-grid-form.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix, prettier --write

Reduce default font size
  src/components/VSearchResultsTitle.vue
Due: eslint --fix

Ignore wp-locales file
  .gitignore
  src/locales/scripts/wp-locales.json
Due: none

Move sidebar teleport target to layout to prevent CSR errors
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VModal/VSidebarTarget.vue
  src/layouts/default.vue
  src/pages/search.vue
Due: eslint --fix

Set currentColor on icons
  src/assets/icons/audio-wave.svg
  src/assets/icons/image.svg
Due: none

Add `VContentLink` component
  src/assets/icons/audio-wave.svg
  src/assets/icons/image.svg
  src/components/VContentLink.vue
Due: eslint --fix

Add hover and focus styles
  src/components/VContentLink/VContentLink.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Add Storybook story
  src/components/VContentLink/VContentLink.vue
  src/components/VContentLink/meta/VContentLink.stories.js
Due: eslint --fix
