Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add magnifier icon for search
  src/assets/icons/search.svg
Due: none

Set a zero width for ring to hide it
  tailwind.config.js
Due: eslint --fix

Create an `InputField` component
  src/components/InputField/InputField.vue
  src/components/InputField/meta/InputField.stories.mdx
Due: eslint --fix, prettier --write

Add playwright e2e tests
  .eslintrc.js
  cypress/fixtures/example.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  mock_data.json
  package-lock.json
  package.json
  playwright.config.js
  src/pages/search.vue
  test/e2e/homepage.spec.js
  test/e2e/resources/mock_data.json
  test/e2e/resources/sample_image.jpg
  test/e2e/search-query-client.spec.js
  test/e2e/search-query-server.spec.js
  test/e2e/search.spec.js
  test/iframe-test.html
Due: eslint --fix

Format json files
  mock_data.json
  test/e2e/resources/mock_data.json
Due: none

Add filter e2e tests
  test/e2e/filters.spec.js
Due: eslint --fix

Add search e2e tests
  README.md
  package.json
  test/e2e/resources/last_page.json
  test/e2e/search.spec.js
Due: eslint --fix

Add base square skeleton grid
  nuxt.config.js
  src/components/Skeleton/SkeletonGrid.vue
Due: eslint --fix

Add color to Tailwind: Dark Charcoal 10%
  tailwind.config.js
Due: eslint --fix

Add more documentation
  src/components/VButton.vue
Due: eslint --fix

Add masonry grid skeleton for images
  src/components/Skeleton/SkeletonGrid.vue
Due: eslint --fix

Add start and end margins to the input and extra text
  src/components/InputField/InputField.vue
Due: eslint --fix

Update the component to match the new designs with individual focus on input and button
  src/components/InputField/InputField.vue
  tailwind.config.js
Due: eslint --fix

Allow changing type with a fallback to 'text'
  src/components/InputField/InputField.vue
Due: eslint --fix

Create the presentational `SearchBar` component
  src/components/Header/SearchBar/SearchBar.vue
  src/components/Header/SearchBar/SearchButton.vue
  src/components/Header/SearchBar/meta/SearchBar.stories.mdx
Due: eslint --fix, prettier --write

Create AudioTrackSkeleton component
  src/components/Skeleton/AudioTrackSkeleton.vue
  src/components/Skeleton/GridSkeleton.vue
  tailwind.config.js
Due: eslint --fix

Add rounded corners to AudioTrackSkeleton
  src/components/Skeleton/AudioTrackSkeleton.vue
Due: eslint --fix

Refactor GridSkeleton.vue
  src/components/Skeleton/GridSkeleton.vue
Due: eslint --fix

:memo: Add story for Skeleton components
  src/components/Skeleton/GridSkeleton.vue
  src/components/Skeleton/meta/GridSkeleton.stories.mdx
Due: eslint --fix, prettier --write

Remove valid-locales.json to stop tracking it
  src/locales/scripts/valid-locales.json
Due: none

Add valid-locales.json to .gitignore
  .gitignore
Due: none

Change the form's behaviour to use submission as the event trigger
  src/components/Header/SearchBar/SearchBar.vue
  src/components/Header/SearchBar/meta/SearchBar.stories.mdx
Due: eslint --fix, prettier --write

Pass attributes down to the `InputField`
  src/components/Header/SearchBar/SearchBar.vue
  src/components/Header/SearchBar/meta/SearchBar.stories.mdx
Due: eslint --fix, prettier --write

Add specs for the input field
  test/unit/specs/components/InputField/input-field.spec.js
Due: eslint --fix

Add SR text and ARIA label
  src/components/Header/SearchBar/SearchButton.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix

Add specs for the `SearchBar` component
  test/unit/specs/components/Header/SearchBar/search-bar.spec.js
Due: eslint --fix

Change extra text to a `slot` to enable advanced markup
  src/components/Header/SearchBar/SearchBar.vue
  src/components/Header/SearchBar/meta/SearchBar.stories.mdx
Due: eslint --fix, prettier --write

Narrow as prop and use clearer prop names
  src/components/VButton.vue
  src/components/meta/VButton.stories.js
  test/unit/specs/components/v-button.spec.js
Due: eslint --fix

Use Tailwind RTL styles everywhere
  src/components/AppModal.vue
  src/components/AudioDetails/Tags.vue
  src/components/AudioTrack/layouts/Row.vue
  src/components/ContentReport/ContentReportForm.vue
  src/components/ContentReport/DmcaNotice.vue
  src/components/ContentReport/OtherIssueForm.vue
  src/components/ContentReport/ReportError.vue
  src/components/CopyButton.vue
  src/components/ExtensionBrowsers.vue
  src/components/Filters/FilterChecklist.vue
  src/components/Filters/FilterDisplay.vue
  src/components/Filters/FilterTag.vue
  src/components/Filters/FiltersList.vue
  src/components/FooterSection.vue
  src/components/ImageDetails/PhotoDetails.vue
  src/components/MetaSearch/MetaSourceList.vue
  src/components/NavSection.vue
  src/components/SaferBrowsing.vue
  src/components/SearchGridForm.vue
  src/components/SearchGridManualLoad.vue
  src/components/SearchTypeToggle.vue
  test/unit/specs/components/__snapshots__/filter-display.spec.js.snap
  test/unit/specs/components/__snapshots__/filter-tag.spec.js.snap
Due: eslint --fix

Register the `DownloadButton` component in the layout to prevent warnings
  src/components/AudioTrack/layouts/Full.vue
Due: eslint --fix

Get translations before running unit test
  package.json
Due: none

Get translations in CI workflow
  .github/workflows/ci.yml
  package.json
Due: none

Add `i18n:get-valid-locales` npm script
  package.json
Due: none

Lowercase alphabets in hex colors for consistency
  tailwind.config.js
Due: eslint --fix

Update colors to use the new non-alpha colors
  src/components/AudioTrack/Waveform.vue
  tailwind.config.js
Due: eslint --fix

Enable a feature to leave space above the waveform
  src/components/AudioTrack/Waveform.vue
  src/components/AudioTrack/meta/Waveform.stories.mdx
  tailwind.config.js
Due: eslint --fix, prettier --write

Create a `VIcon` component to render 24px SVG icons
  src/components/AudioTrack/PlayPause.vue
  src/components/VIcon/VIcon.vue
  src/components/VIcon/meta/VIcon.stories.mdx
Due: eslint --fix, prettier --write

Fix the waveform size problems in the row layout
  src/components/AudioTrack/layouts/Row.vue
Due: eslint --fix

Add a thumbnail for Mozart's compositions
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: prettier --write

Allow passing arbitrary props to the inner `Waveform` component
  src/components/AudioTrack/AudioController.vue
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: .{js,ts,vue,json}) or (any of: *.mdx)
