Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": [
    "eslint --fix"
  ],
  ".{js,ts,vue,json}": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Remove custom breakpoints in favor of Tailwind defaults
  tailwind.config.js
Due: eslint --fix

Define the global audio player layout
  src/assets/icons/close.svg
  src/components/AudioTrack/AudioTrack.vue
  src/components/AudioTrack/layouts/Global.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: eslint --fix, prettier --write

Bring external functions inside the component definition
  src/components/AudioTrack/PlayPause.vue
Due: eslint --fix

Add missing translation definition
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: none

Distinguish between paused and stopped states of the audio
  src/components/AudioTrack/AudioController.vue
  src/components/AudioTrack/AudioTrack.vue
  src/components/AudioTrack/layouts/Global.vue
  src/constants/mutation-types.js
  src/constants/store-modules.js
  src/store/active.js
  src/store/types.d.ts
Due: eslint --fix

Create a box layout for the audio component
  src/components/AudioTrack/AudioTrack.vue
  src/components/AudioTrack/layouts/Box.vue
Due: eslint --fix

Update documentation to better describe layouts
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: prettier --write

Integrate waveform colors with the bottom section
  src/components/AudioTrack/layouts/Box.vue
Due: eslint --fix

Remove wide variant and update dimensions to match Figma
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: prettier --write

Update implementation to support three sizes for the row layout
  src/components/AudioTrack/layouts/Row.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: eslint --fix, prettier --write

Replace breakpoint names in utility classes
  src/components/AppModal.vue
  src/components/Filters/FiltersList.vue
  src/components/SearchGridManualLoad.vue
  src/pages/audio/_id.vue
  src/pages/search.vue
Due: eslint --fix

Use `VIcon` for license icons
  src/components/AudioTrack/layouts/Row.vue
  src/components/License/License.vue
  src/components/VIcon/VIcon.vue
Due: eslint --fix

Update `PlayPause` documentation
  src/components/AudioTrack/meta/PlayPause.stories.mdx
Due: prettier --write

Replace Bulma mixin `@include desktop` with `@screen lg`
  src/components/AudioResultsList.vue
  src/components/Filters/LicenseExplanationTooltip.vue
  src/components/HeroSection.vue
  src/components/SearchGridForm.vue
  src/components/SearchGridManualLoad.vue
Due: eslint --fix

init
  package.json
Due: none

Remove styles/results-page.scss
  src/components/Filters/SearchGridFilter.vue
  src/pages/search.vue
Due: eslint --fix

Update tests for SearchGridFilter
  test/unit/specs/components/search-grid-filter.spec.js
Due: eslint --fix

Removed unused image assets
  src/assets/500px_logo.png
  src/assets/back_arrow.svg
  src/assets/cc-by_icon.svg
  src/assets/cc-cc0_icon.svg
  src/assets/cc-logo_large_black.png
  src/assets/cc-nc_icon.svg
  src/assets/cc-nd_icon.svg
  src/assets/cc-pdm_icon.svg
  src/assets/cc-sa_icon.svg
  src/assets/eol_logo.png
  src/assets/help_icon.svg
  src/assets/iha_logo.png
  src/assets/locale.svg
  src/assets/museumvictoria_logo.svg
  src/assets/nypl_logo.svg
  src/assets/support.png
Due: none

Use an explicit class instead of styling `.v-icon`
  src/components/License/License.vue
Due: eslint --fix

Move constants to `data`
  src/components/AudioTrack/PlayPause.vue
Due: eslint --fix

Replace 'stopped' with 'ejected' as a more apt name for the state
  src/components/AudioTrack/AudioController.vue
  src/components/AudioTrack/layouts/Global.vue
  src/constants/mutation-types.js
  src/store/active.js
  src/store/types.d.ts
Due: eslint --fix

Add VBone component with shimmer animation
  src/components/Skeleton/GridSkeleton.vue
  src/components/Skeleton/VBone.vue
Due: eslint --fix

Add shimmer animation to AudioTrackSkeleton
  src/components/Skeleton/AudioTrackSkeleton.vue
Due: eslint --fix

feat: remove node alpine to allow node gyp installation libraries
  Dockerfile
Due: none

Remove cross from the audio player
  src/components/AudioTrack/layouts/Global.vue
Due: eslint --fix

Remove non-breaking space entities left in skeletons
  src/components/Skeleton/AudioTrackSkeleton.vue
  src/components/Skeleton/VBone.vue
Due: eslint --fix

Replace `onMounted` with `immediate` flag
  .storybook/decorators/with-rtl.js
Due: eslint --fix

Selectively remove cross from search input field
  src/components/Header/SearchBar/SearchBar.vue
Due: eslint --fix

Make the input field labelled by default, with option to attach more
  src/components/InputField/InputField.vue
  src/components/InputField/meta/InputField.stories.mdx
  test/unit/specs/components/InputField/input-field.spec.js
Due: eslint --fix, prettier --write

Set the placeholder color to match Figma specification
  src/components/InputField/InputField.vue
Due: eslint --fix

Use `group-hover` to style search field and button together on hover
  src/components/Header/SearchBar/SearchButton.vue
  src/components/InputField/InputField.vue
Due: eslint --fix

Update breakpoints to the new Tailwind config
  src/components/Skeleton/GridSkeleton.vue
Due: eslint --fix

Fix the script for running the e2e tests
  README.md
  nuxt.config.js
  package-lock.json
  package.json
  src/locales/scripts/valid-locales.json
Due: eslint --fix

Delete cypress.json
  cypress.json
Due: none

Fix readme formatting
  README.md
Due: none

Move `watch` inside `onMounted`
  .storybook/decorators/with-rtl.js
Due: eslint --fix

Add Popover component
  nuxt.config.js
  src/components/.eslintrc.js
  src/components/VButton.vue
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.types.js
  src/components/VPopover/VPopoverContent.vue
  src/components/VPopover/meta/VPopover.stories.js
  src/composables/types.js
  src/composables/use-disclosure-ref.js
  src/composables/use-event-listener-outside.js
  src/composables/use-focus-on-blur.js
  src/composables/use-focus-on-child-unmount.js
  src/composables/use-focus-on-hide.js
  src/composables/use-focus-on-show.js
  src/composables/use-hide-on-click-outside.js
  src/composables/use-popover-state.js
  src/utils/warn.js
  test/unit/specs/components/v-popover.spec.js
Due: eslint --fix

Use default slot for popover content
  src/components/VPopover/VPopover.vue
  src/components/VPopover/meta/VPopover.stories.js
  test/unit/specs/components/v-popover.spec.js
Due: eslint --fix

Fix popper not attaching to popover
  src/components/VPopover/VPopoverContent.types.js
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-popper.js
Due: eslint --fix

Fix initial focus issue
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-focus-on-hide.js
  src/composables/use-focus-on-show.js
Due: eslint --fix
