Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Stop destructuring attrs in order to not lose reactivity
  src/components/VButton.vue
  src/components/VLink.vue
  test/unit/specs/components/v-link.spec.js
Due: eslint --fix

Add focus ring around the close button
  src/components/VFilters/VFilterChecklist.vue
  src/components/VIconButton/VIconButton.vue
Due: eslint --fix

Explicitly register VButton to prevent test from failing
  src/components/VIconButton/VIconButton.vue
Due: eslint --fix

Remove footer and associated styles and i18n strings
  src/components/FooterSection.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/styles/vocabulary.scss
Due: eslint --fix

Use v-show instead of v-if for width-based condition
  src/components/License/VLicense.vue
  src/components/VAudioThumbnail/VAudioThumbnail.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  test/unit/specs/components/AudioTrack/audio-track.spec.js
  test/unit/specs/components/v-license.spec.js
Due: eslint --fix

Add TESTING_GUIDELINES.md initial draft
  CONTRIBUTING.md
  TESTING_GUIDELINES.md
Due: none

Format with prettier
  TESTING_GUIDELINES.md
Due: none

Correct typo
  TESTING_GUIDELINES.md
Due: none

Corret typo
  TESTING_GUIDELINES.md
Due: none

Add links to WAI-ARIA spec
  TESTING_GUIDELINES.md
Due: none

Use VLink for Download Button
  src/components/DownloadButton.vue
Due: eslint --fix

Fix homepage image link URL
  src/pages/index.vue
Due: eslint --fix

Use href prop instead of href as an attr
  src/components/VLink.vue
Due: eslint --fix

VLink unit test improvements
  test/unit/specs/components/v-link.spec.js
Due: eslint --fix

Rename AudioDetails folder
  src/components/VAudioDetails/VAudioDetails.vue
  src/components/VAudioDetails/VRelatedAudio.vue
  test/unit/specs/components/related-audios.spec.js
Due: eslint --fix

Fix store access
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix

Revert conversion to Composition API
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix

Revert conversion to defineComponent
  src/components/VAudioDetails/VRelatedAudio.vue
Due: eslint --fix

Rename Skeleton components
  src/components/VSkeleton/VAudioTrackSkeleton.vue
  src/components/VSkeleton/VBone.vue
  src/components/VSkeleton/VGridSkeleton.vue
  src/components/VSkeleton/meta/VGridSkeleton.stories.mdx
Due: eslint --fix, prettier --write

Rename NoticeBar and MigrtionNotice components
  src/components/VMigrationNotice.vue
  src/components/VNoticeBar/VNoticeBar.vue
  src/components/VNoticeBar/meta/NoticeBar.stories.mdx
  src/layouts/default.vue
Due: eslint --fix, prettier --write

Use talkback proxy to mock e2e API requests
  package.json
  pnpm-lock.yaml
  proxy.js
  test/e2e/content-types.spec.js
  test/e2e/filters.spec.js
  test/e2e/homepage.spec.js
  test/e2e/image-detail.spec.js
  test/e2e/search-query-client.spec.js
  test/e2e/search-query-server.spec.js
  test/e2e/search.spec.js
  test/e2e/utils.js
Due: eslint --fix

Use concurrently to make e2e scripts cross-platform
  package.json
  pnpm-lock.yaml
Due: none

Add {const} type declarations
  src/constants/media.js
  tsconfig.json
Due: eslint --fix

Format
  tsconfig.json
Due: none

Remove excessive padding from VContentItem
  src/components/VContentSwitcher/VContentTypes.vue
Due: eslint --fix

Remove unnecessary aria-labels from about page anchors
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/about.vue
Due: eslint --fix

Remove unused locales.js file
  src/utils/locales.js
Due: eslint --fix

Remove translation keys with only the brand name "Openverse"
  src/components/VFourOhFour.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/about.vue
  src/pages/audio/_id.vue
  src/pages/extension.vue
  src/pages/feedback.vue
  src/pages/image/_id.vue
  src/pages/index.vue
  src/pages/meta-search.vue
  src/pages/search-help.vue
  src/pages/search/audio.vue
  src/pages/search/image.vue
  src/pages/search/index.vue
  src/pages/sources.vue
Due: eslint --fix

Avoid translating other brand names
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/about.vue
Due: eslint --fix

Remove excessive padding from VContentItem
  src/components/VContentSwitcher/VContentItem.vue
  src/components/VItemGroup/VItem.vue
Due: eslint --fix

Update src/components/VLink.vue
  src/components/VLink.vue
Due: eslint --fix

Remove null check for app
  src/components/VLink.vue
Due: eslint --fix

Try out Playwright for visual regression testing
  .eslintignore
  .eslintrc.js
  .gitignore
  .lintstagedrc
  bin/visual-regression.js
  bin/visual-regression.sh
  package.json
  pnpm-lock.yaml
  src/pages/index.vue
  test/visual-regression/homepage.spec.ts
  test/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-linux
  test/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-linux
  test/visual-regression/homepage.spec.ts-snapshots/index-ltr-linux
  test/visual-regression/homepage.spec.ts-snapshots/index-rtl-linux
  test/visual-regression/homepage.spec.ts-snapshots/search-type-switcher-ltr-linux
  test/visual-regression/homepage.spec.ts-snapshots/search-type-switcher-rtl-linux
  test/visual-regression/homepage.spec.ts-snapshots/unfocused-search-ltr-linux
  test/visual-regression/homepage.spec.ts-snapshots/unfocused-search-rtl-linux
  test/visual-regression/playwright.config.ts
Due: eslint --fix

Disable friendly errors overlay
  nuxt.config.js
Due: eslint --fix

Resolve lapses in accessibility
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VLicenseExplanation.vue
Due: eslint --fix

Fix strange Safari bug with VoiceOver
  src/components/VPopover/VPopoverContent.vue
  test/unit/specs/components/v-popover.spec.js
Due: eslint --fix

Re-enable eslint i18n rules to limit exception to brand names
  src/components/VFourOhFour.vue
  src/components/VImageDetails/VImageDetails.vue
  src/pages/about.vue
  src/pages/search-help.vue
Due: eslint --fix

Remove unused `VSearchRating` component
  src/components/VSearchRating.vue
  test/unit/specs/components/search-rating.spec.js
Due: eslint --fix

Avoid translating Flickr and Europeana brand names
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/sources.vue
Due: eslint --fix

init
  src/components/VContentSwitcher/VContentSwitcherButton.vue
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: .{js,ts,vue,json}) or (any of: *.mdx)
