Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Rectify disclaimer text
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: none

Rectify design differences
  src/pages/index.vue
Due: eslint --fix

Disable x-scroll on smaller devices
  src/pages/index.vue
Due: eslint --fix

Rectify subtitle text
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: none

Add max-width to the search bar
  src/pages/index.vue
Due: eslint --fix

Use one audio object per track and swap active one globally
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  src/composables/use-active-audio.js
Due: eslint --fix

Stop compiler from trying to emit unused declarations
  tsconfig.json
Due: none

Fix global audio track component `name`
  src/components/VAudioTrack/VGlobalAudioTrack.vue
Due: eslint --fix

Remove unused provider logos
  src/assets/animaldiversity_logo.png
  src/assets/bhl_logo.png
  src/assets/brooklyn_museum_logo.png
  src/assets/capl_logo.png
  src/assets/cleveland.png
  src/assets/deviantart_logo.png
  src/assets/digitaltmuseum_logo.png
  src/assets/flickr_icon.png
  src/assets/floraon_logo.png
  src/assets/geographorguk_logo.gif
  src/assets/mccordmuseum_logo.png
  src/assets/met_logo.png
  src/assets/museumvictoria_logo.png
  src/assets/nhm_logo.png
  src/assets/phylopic_logo.png
  src/assets/rawpixel_logo.png
  src/assets/rijksmuseum_logo.png
  src/assets/sketchfab_logo.png
  src/assets/smk_logo.png
  src/assets/svg-silh_logo.png
  src/assets/thingiverse_logo.png
  src/assets/thorvaldsensmuseum_logo.png
  src/assets/wikimedia_logo.png
  src/assets/worms_logo.png
Due: none

Delay loading audio until seeked or played and fix page transitions
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix

Update comment explaining why initialization is displaced from variable declaration
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix

init
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/pages/index.vue
Due: eslint --fix

Remove unused components
  src/components/NavSection.vue
  src/components/VHeroSection.vue
  test/unit/specs/components/hero-section.spec.js
  test/unit/specs/components/nav-section.spec.js
Due: eslint --fix

Remove more unused images
  src/assets/cc_icon.svg
  src/assets/logo-cloud.png
Due: none

Clean up logo SVG
  src/assets/logo.svg
Due: none

Fix pages menu min width
  src/components/VHeader/VPageMenu/VPageList.vue
Due: eslint --fix

Apply suggestions from @dhruvkb's code review
  src/pages/index.vue
Due: eslint --fix

Add the privacy policy to the menu
  src/composables/use-pages.js
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix

Fix another missing dependency lodash.set
  package.json
  pnpm-lock.yaml
  src/locales/scripts/ngx-json-to-json.js
Due: eslint --fix

Double number of skeleton boxes
  src/components/Skeleton/GridSkeleton.vue
Due: eslint --fix

Progress
  src/components/ImageGrid/ImageGrid.vue
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderMenu.vue
  src/components/VSearchGrid.vue
  src/constants/action-types.js
  src/pages/index.vue
  src/pages/search.vue
  src/pages/search/audio.vue
  src/store/media.js
Due: eslint --fix

Remove unused filter display component
  src/components/VFilters/VFilterDisplay.vue
  test/unit/specs/components/__snapshots__/filter-display.spec.js.snap
  test/unit/specs/components/filter-display.spec.js
Due: eslint --fix

Set query when using filters
  src/components/VFilters/VSearchGridFilter.vue
  src/locales/po-files/openverse.pot
  src/pages/search.vue
Due: eslint --fix

Fix tests
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix

truncate audio box text
  package.json
  pnpm-lock.yaml
  src/components/VAudioTrack/layouts/VBoxLayout.vue
  tailwind.config.js
Due: eslint --fix

Remove events from `VAudioThumbnail` stories
  src/components/VAudioThumbnail/meta/VAudioThumbnail.stories.mdx
Due: prettier --write

Add stories for the content type switcher
  src/components/VContentSwitcher/meta/VContentSwitcherPopover.stories.mdx
Due: prettier --write

Use `propTypes` as `props`
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix

Try to fix random all content grid
  src/composables/use-load-more.js
  src/constants/action-types.js
  src/constants/media.js
  src/constants/mutation-types.js
  src/data/base-media-service.js
  src/store/media.js
  src/utils/srand.js
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix

Add the error image component and story
  src/assets/error_images/depressed_musician.jpg
  src/assets/error_images/image_info.json
  src/assets/error_images/waiting_for_a_bite.jpg
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VErrorImage/VErrorImage.vue
  src/components/VErrorImage/meta/VErrorImage.stories.mdx
  src/constants/errors.js
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/utils/attribution-html.js
  tailwind.config.js
Due: eslint --fix, prettier --write

Make e2e tests pass
  test/e2e/content-types.spec.js
  test/e2e/homepage.spec.js
  test/e2e/search-query-client.spec.js
  test/e2e/search-query-server.spec.js
Due: eslint --fix

Remove console log
  src/components/VErrorImage/VErrorImage.vue
Due: eslint --fix

Fix lint error (copy of #666)
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix

Add beta VPill to Audio in Content Switcher
  src/components/VContentSwitcher/VContentTypes.vue
  src/composables/use-content-type.js
  src/constants/media.js
  src/locales/en.json
Due: eslint --fix

Remove skipped tests pertaining to removed assets
  test/unit/specs/components/search-grid-cell.spec.js
Due: eslint --fix

Make item padding smaller
  src/components/VContentSwitcher/VContentTypes.vue
Due: eslint --fix

Use 's' audio track layout for mobile
  src/pages/search/audio.vue
Due: eslint --fix

Extract VContentItem to make future style edits simpler
  src/components/VContentSwitcher/VContentItem.vue
  src/components/VContentSwitcher/VContentTypes.vue
Due: eslint --fix

Add changes from 'small' 'VContentItem'
  src/components/VButton.vue
  src/components/VContentSwitcher/VContentTypes.vue
  src/components/VContentSwitcher/VMobileMenuModal.vue
  src/components/VItemGroup/VItem.vue
  src/styles/accent.scss
Due: eslint --fix

Fix homepage accessibility
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VInputField/VInputField.vue
  src/components/VInputField/meta/VInputField.stories.mdx
  src/pages/index.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: .{js,ts,vue,json}) or (any of: *.mdx)
