Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Cleanup old component, tweak logo padding on homepage
  src/components/HeaderSection.vue
  src/components/VHeader/VHeader.vue
  test/unit/specs/components/header-section.spec.js
Due: eslint --fix

Init
  src/components/ImageGrid/LoadMoreButton.vue
  src/components/VImageGrid/VImageCell.vue
  src/components/VImageGrid/VImageGrid.vue
  src/locales/scripts/wp-locales.json
  src/pages/search/image.vue
Due: eslint --fix

Switch load more and image grid to composition api and setup
  src/components/ImageGrid/LoadMoreButton.vue
  src/components/VImageGrid/VImageGrid.vue
  src/components/VLoadMore.vue
Due: eslint --fix

basic layout
  src/components/VImageGrid/VImageCell.vue
  src/components/VImageGrid/VImageGrid.vue
  src/pages/search/image.vue
  tailwind.config.js
Due: eslint --fix

mvp
  src/components/ImageDetails/RelatedImages.vue
  src/components/VButton.vue
  src/components/VImageGrid/VImageCell.vue
  src/components/VImageGrid/VImageGrid.vue
  src/components/VLoadMore.vue
  src/locales/scripts/untranslated-locales.json
  src/pages/search.vue
Due: eslint --fix

Allow enabling or disabling interactivity of waveform
  src/components/AudioTrack/Waveform.vue
  src/components/AudioTrack/layouts/Row.vue
  src/components/AudioTrack/meta/Waveform.stories.mdx
Due: eslint --fix, prettier --write

Add 'V-' prefix to all components associated with the audio track
  src/components/AudioDetails/Related.vue
  src/components/VAudioTrack/VAudioController.vue
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/VWaveform.vue
  src/components/VAudioTrack/layouts/VBoxLayout.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VAudioTrack/layouts/VGlobalLayout.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/components/VAudioTrack/meta/VAudioTrack.stories.mdx
  src/components/VAudioTrack/meta/VPlayPause.stories.mdx
  src/components/VAudioTrack/meta/VWaveform.stories.mdx
  src/components/VAudioTrack/meta/flac-waveform.json
  src/components/VAudioTrack/meta/mp3-waveform.json
  src/components/VAudioTrack/meta/ogg-waveform.json
  src/components/VAudioTrack/meta/wav-waveform.json
  src/locales/po-files/openverse.pot
  src/pages/audio/_id.vue
  src/pages/search/audio.vue
Due: eslint --fix, prettier --write

Fix tests
  test/unit/specs/components/AudioTrack/audio-track.spec.js
  test/unit/specs/components/related-audios.spec.js
Due: eslint --fix

relax pnpm version
  package.json
Due: none

Fix default mobile state
  src/components/VHeader/VFilterButton.vue
Due: eslint --fix

Move filter sidebar to the right
  src/pages/search.vue
Due: eslint --fix

Colors and padding
  src/components/Filters/SearchGridFilter.vue
  src/components/VCheckbox.vue
Due: eslint --fix

Update src/composables/use-filter-sidebar-visibility.js
  src/composables/use-filter-sidebar-visibility.js
Due: eslint --fix

Code review suggestions
  src/components/VButton.vue
  src/components/VHeader/README.md
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/composables/use-media-query.js
  src/pages/search.vue
  test/unit/specs/components/VHeader/v-filter-button.spec.js
Due: eslint --fix

Final cleanup
  src/components/VHeader/VHeader.vue
Due: eslint --fix

Add VFilterButton (#489)
  package.json
  pnpm-lock.yaml
  src/assets/icons/filter.svg
  src/components/SearchGridForm.vue
  src/components/VButton.vue
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VFilterDisplay.vue
  src/components/VFilters/VFilterTag.vue
  src/components/VFilters/VLicenseExplanationTooltip.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/README.md
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-filter-sidebar-visibility.js
  src/composables/use-media-query.js
  src/composables/use-window-scroll.js
  src/layouts/default.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/search.vue
  src/styles/global.scss
  tailwind.config.js
  test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
  test/unit/specs/components/VHeader/v-filter-button.spec.js
  test/unit/specs/components/filter-checklist.spec.js
  test/unit/specs/components/filter-display.spec.js
  test/unit/specs/components/filter-tag.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix, prettier --write

Cleanup
  src/components/VHeader/VHeader.vue
  src/components/VHeroSection.vue
  src/composables/use-match-routes.js
  src/composables/use-search-route.js
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Undo incorrect hero changes
  src/components/VHeroSection.vue
Due: eslint --fix

Fixes and basic focus management
  src/components/VImageGrid/VImageCell.vue
  src/components/VImageGrid/VImageGrid.vue
  src/locales/scripts/wp-locales.json
  tailwind.config.js
Due: eslint --fix

Fix filters modal position in iframe
  src/components/AppModal.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Copy constants in Dockerfile
  Dockerfile
Due: none

Docker config hotfix 2
  Dockerfile
  docker-compose.yml
  src/locales/scripts/untranslated-locales.json
Due: none

Change file to old style `module.exports`
  src/constants/screens.js
Due: eslint --fix

Remove broken classes
  src/components/SearchGridForm.vue
  src/components/VHeroSection.vue
Due: eslint --fix

Upgrade to Tailwind v3 with JIT
  nuxt.config.js
  package.json
  pnpm-lock.yaml
  src/styles/tailwind.css
  tailwind.config.js
  tailwind.safelist.txt
Due: eslint --fix

Update wp-locales.json
  src/locales/scripts/wp-locales.json
Due: none

Stop importing from nuxt.config.js
  nuxt.config.js
  src/composables/use-i18n-sync.js
  src/data/audio-service.js
  src/middleware/middleware.js
  src/mixins/iframe-height.js
  src/plugins/url-change.js
  src/utils/dev.js
  src/utils/env.js
  src/utils/send-message.js
  test/unit/setup.js
Due: eslint --fix

Add Storybook smoketest to GitHub CI
  .github/workflows/ci.yml
Due: none

Reorganize files to accomodate Nuxt component discovery and exclude `.types` files from it
  nuxt.config.js
  src/components/.eslintrc.js
  src/components/VModal/VModalContent.vue
  src/components/VModal/VModalTarget.vue
  src/components/VTeleport.js
  src/components/VTeleport/README.md
  src/components/VTeleport/VTeleport.vue
  src/components/VTeleport/VTeleportTarget.vue
  src/components/VTeleport/meta/targets.js
Due: eslint --fix

Fix linting issues
  src/components/.eslintrc.js
  src/components/VTeleport/VTeleportTarget.vue
  src/components/VTeleport/meta/targets.js
Due: eslint --fix

Deploy Storybook to GitHub pages
  .github/workflows/gh-pages.yaml
Due: none

Update README for Storybook deployment (and post-launch link for Openverse)
  README.md
Due: none

Fix translation files missing from GH runner storybook builder
  .github/workflows/gh-pages.yaml
Due: none

Remove testing code
  .github/workflows/gh-pages.yaml
Due: none

Use `extensions` rather than ignore to import components
  nuxt.config.js
Due: eslint --fix

Remove the need to explicitly import subdirectories
  nuxt.config.js
Due: eslint --fix

Persist search term from the homepage
  src/components/VHeader/VHeader.vue
Due: eslint --fix

Fix focus outline: no outline on one side of the search button
  src/components/VHeader/VSearchBar/VSearchButton.vue
Due: eslint --fix

Update type and wp-locales.json
  src/composables/use-match-routes.js
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Remove stray spaces introduced by newlines
  src/components/VMetaSearch/VMetaSearchForm.vue
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: .{js,ts,vue,json}) or (any of: *.mdx)
