Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": [
    "eslint --fix"
  ],
  ".{js,ts,vue,json}": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Translate mediaType label
  src/components/VContentLink/VContentLink.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Add unit tests for `VContentLink`
  src/components/VContentLink/VContentLink.vue
  test/unit/specs/components/v-content-link.spec.js
Due: eslint --fix

Add Storybook story for mobile view
  src/components/VContentLink/VContentLink.vue
  src/components/VContentLink/meta/VContentLink.stories.js
Due: eslint --fix

Allow mediaType selection on mobile story
  src/components/VContentLink/VContentLink.vue
  src/components/VContentLink/meta/VContentLink.stories.js
Due: eslint --fix

Update test/unit/specs/components/v-search-results-title.spec.js
  test/unit/specs/components/v-search-results-title.spec.js
Due: eslint --fix

Update references to `VInputField` in story
  src/components/VInputField/meta/VInputField.stories.mdx
Due: prettier --write

Change label of image tab to plural
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: none

Update src/components/VSearchResultsTitle.vue
  src/components/VSearchResultsTitle.vue
Due: eslint --fix

Search results title (#577)
  src/components/VSearchGrid.vue
  src/components/VSearchResultsTitle.vue
  src/locales/scripts/wp-locales.json
  test/unit/specs/components/v-search-results-title.spec.js
Due: eslint --fix

init
  src/assets/oops.svg
  src/layouts/blank.vue
  src/layouts/error.vue
  src/locales/scripts/wp-locales.json
  tailwind.config.js
Due: eslint --fix

Fix ci tests by restoring scopedSlots param in search results title spec
  test/unit/specs/components/v-search-results-title.spec.js
Due: eslint --fix

init i18n
  src/layouts/error.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix

Fix search result title casing
  src/components/VSearchResultsTitle.vue
Due: eslint --fix

Add desktop version
  src/components/VContentLink/VContentLink.vue
  src/components/VContentLink/meta/VContentLink.stories.js
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix

Progress
  src/layouts/error.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix

Increase border contrast
  src/components/Header/SearchBar/SearchButton.vue
  src/components/InputField/InputField.vue
Due: eslint --fix

Update `AudioDetails-` components
  src/components/AudioDetails/VAudioDetails.vue
  src/components/AudioDetails/VAudioTags.vue
  src/components/AudioDetails/VRelatedAudio.vue
  src/pages/audio/_id.vue
  test/unit/specs/components/related-audios.spec.js
Due: eslint --fix

Update references to `InputField` to point to `VInputField`
  src/components/VInputField/meta/VInputField.stories.mdx
Due: prettier --write

Add `model` to enable the component to work with `v-model`
  src/components/VInputField/VInputField.vue
Due: eslint --fix

Updated load more button (#578)
  src/components/ImageGrid/ImageGrid.vue
  src/components/ImageGrid/LoadMoreButton.vue
  src/components/VButton.vue
  src/components/VLoadMore.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/search.vue
  src/pages/search/audio.vue
  test/unit/specs/components/image-grid.spec.js
Due: eslint --fix

Make 404 logo media query consistient with others
  src/layouts/error.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Feedback from Francisco
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VInputField/VInputField.vue
  src/layouts/error.vue
Due: eslint --fix

Update src/components/VInputField/meta/VInputField.stories.mdx
  src/components/VInputField/meta/VInputField.stories.mdx
Due: prettier --write

Extract function for resultsCount i18n into composable
  src/components/VContentLink/VContentLink.vue
  src/components/VContentLink/meta/VContentLink.stories.js
  src/composables/use-i18n-utilities.js
Due: eslint --fix

Update references to `InputField` to point to `VInputField` (#586)
  src/components/VInputField/VInputField.vue
  src/components/VInputField/meta/VInputField.stories.mdx
Due: eslint --fix, prettier --write

Fix message
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: none

Fix mobile button border
  src/layouts/error.vue
Due: eslint --fix

Fix back to search results breadcrumb link
  src/components/ImageDetails/VPhotoDetails.vue
Due: eslint --fix

Move test to e2e test suit
  test/e2e/search.spec.js
  test/unit/specs/components/ImageDetails/v-photo-details.spec.js
Due: eslint --fix

Update `content-types` test with load more button changes
  test/e2e/content-types.spec.js
Due: eslint --fix

WIP
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderFilter.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Cleanup
  src/components/VHeader/VHeader.vue
Due: eslint --fix

Make logo link
  src/layouts/error.vue
Due: eslint --fix

Update src/locales/en.json
  src/locales/en.json
Due: none

New 404 page (#583)
  src/assets/oops.svg
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeader/meta/VSearchBar.stories.mdx
  src/components/VInputField/VInputField.vue
  src/layouts/blank.vue
  src/layouts/error.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/locales/scripts/wp-locales.json
  tailwind.config.js
Due: eslint --fix, prettier --write

early init
  src/pages/index.vue
Due: eslint --fix

Add VHeader stub Rename VSearchBar and VSearchButton and move to VHeader Add VLogoLoader to VHeader and adjust header styles
  package.json
  src/components/VHeader/README.md
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeader/VSearchBar/meta/VSearchBar.stories.mdx
  src/components/VHeader/meta/VHeader.stories.mdx
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-event-listener.js
  src/composables/use-media-query.js
  src/composables/use-window-scroll.js
  src/composables/window.js
  src/layouts/default.vue
  src/layouts/with-nav-search.vue
  src/pages/search.vue
  test/unit/specs/components/Header/SearchBar/search-bar.spec.js
Due: eslint --fix, prettier --write

Extract search route handling into composable, set Logo loading when fetching
  src/components/VHeader/VHeader.vue
  src/composables/use-search-route.js
  src/composables/use-window-scroll.js
Due: eslint --fix
