Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Converge paths to show the one and only `NavSection`
  src/components/HeaderSection.vue
Due: eslint --fix

Remove unnecessary `.prevent` modifier
  src/components/SearchGridForm.vue
Due: eslint --fix

Remove unused file
  src/utils/get-browser-info.js
Due: eslint --fix

SearchGridFilter wrapper component selected based on reactive media query (#445)
  src/composables/use-media-query.js
  src/pages/search.vue
  src/utils/get-browser-info.js
  test/unit/setup.js
Due: eslint --fix

Remove `.is-fluid` class from containers
  src/pages/about.vue
  src/pages/extension.vue
  src/pages/feedback.vue
  src/pages/meta-search.vue
  src/pages/search-help.vue
  src/pages/sources.vue
Due: eslint --fix

Update tests
  src/components/NavSection.vue
  test/unit/specs/components/nav-section.spec.js
Due: eslint --fix

Update search page unit tests
  src/components/ScrollButton.vue
  src/pages/search.vue
  test/unit/specs/components/scroll-button.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix

Update sentry version and turn it on only for production
  src/styles/base/layout.sass
  src/styles/utilities/initial-variables.scss
Due: none

Remove unused sass and fix remaining rtl issues
  src/styles/components/navbar.sass
Due: none

Set `width` and `height` attrs to avoid layout shift
  src/components/NavSection.vue
Due: eslint --fix

Only override locales that would otherwise use Eastern Arabic numerals
  src/pages/sources.vue
Due: eslint --fix

Remove redundant `style` attr
  src/components/NavSection.vue
Due: eslint --fix

Use clearer alt text for demo images
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/meta-search.vue
Due: eslint --fix

Make demo images hidden from assistive tech
  src/pages/meta-search.vue
Due: eslint --fix

Drop the word "mark" from logo alt text
  src/components/NavSection.vue
Due: eslint --fix

Pass ARIA roles down as scoped slot props
  src/components/Dropdown.vue
  src/components/NavSection.vue
Due: eslint --fix

Address code style comments
  src/pages/search.vue
Due: eslint --fix

Remove `nuxt-ssr-cache` and move dependencies (#415)
  .github/workflows/ci.yml
  nuxt.config.js
  package-lock.json
  package.json
  patches/nuxt-ssr-cache+1.5.2.patch
  src/styles/utilities/functions.scss
  test/unit/specs/components/AudioTrack/audio-track.spec.js
  test/unit/specs/components/dropdown.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix

fix: port reference in dockerfile and docker-compose.yaml
  Dockerfile
  docker-compose.yml
Due: none

Set en locale correctly and add doc
  nuxt.config.js
  src/mixins/i18n-sync.js
Due: eslint --fix

Remove duplicated browse page mocked field
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix

Define the focused state for the waveform
  src/components/AudioTrack/Waveform.vue
Due: eslint --fix

Make a Tailwind utility for inset shadow and replace manually defined styles
  src/components/AudioTrack/Waveform.vue
  src/components/Header/SearchBar/SearchButton.vue
  src/components/VIconButton/VIconButton.vue
  tailwind.config.js
Due: eslint --fix

Use the newly created `VIconButton`
  src/components/AudioTrack/PlayPause.vue
  src/components/AudioTrack/meta/PlayPause.stories.mdx
  src/components/Header/SearchBar/SearchButton.vue
  test/unit/specs/components/Header/SearchBar/search-bar.spec.js
Due: eslint --fix, prettier --write

Create a square button that renders only icons
  src/components/VIconButton/VIconButton.vue
  src/components/VIconButton/meta/VIconButton.stories.mdx
Due: eslint --fix, prettier --write

Replace hardcoded dimensions with the `size` prop
  src/components/AudioTrack/layouts/Full.vue
  src/components/AudioTrack/layouts/Global.vue
  src/components/AudioTrack/layouts/Row.vue
Due: eslint --fix

Set sentry disabled only in development environment
  nuxt.config.js
Due: eslint --fix

Update nuxt.config.js
  nuxt.config.js
Due: eslint --fix

Remove unrelated change to sentry init
  nuxt.config.js
Due: eslint --fix

Add license readable names with aria-label
  nuxt.config.js
  src/components/AudioTrack/layouts/Row.vue
  src/components/License/VLicense.vue
  src/components/License/meta/VLicense.stories.mdx
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix, prettier --write

Replace license component in ImageCell & SearchGridCell
  src/components/ImageGrid/ImageCell.vue
  src/components/License/VLicense.vue
  src/components/SearchGridCell.vue
Due: eslint --fix

Remove `LicenseIcons`
  src/components/LicenseIcons.vue
  test/unit/specs/components/AudioTrack/audio-track.spec.js
  test/unit/specs/components/image-grid.spec.js
  test/unit/specs/components/license-icons.spec.js
  test/unit/specs/components/related-images.spec.js
  test/unit/specs/components/search-grid-cell.spec.js
  test/unit/specs/components/search-grid.spec.js
Due: eslint --fix

Add 'Only icons' story for VLicense
  src/components/License/meta/VLicense.stories.mdx
Due: prettier --write

Complete "license-readable-names" with hyphens
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: none

Add VLicense tests
  nuxt.config.js
  src/components/AudioTrack/layouts/Row.vue
  src/components/ImageGrid/ImageCell.vue
  src/components/SearchGridCell.vue
  test/unit/specs/components/v-license.spec.js
Due: eslint --fix

Complete imports with file extension
  src/components/AudioTrack/layouts/Row.vue
  src/components/Filters/FilterChecklist.vue
  src/components/ImageGrid/ImageCell.vue
  src/components/License/meta/VLicense.stories.mdx
  src/components/SearchGridCell.vue
Due: eslint --fix, prettier --write

disable sentry
  nuxt.config.js
  src/locales/scripts/valid-locales.json
Due: eslint --fix

Add /healthcheck endpoint
  nuxt.config.js
  src/server-middleware/healthcheck.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: .{js,ts,vue,json}) or (any of: *.mdx)
