Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": [
    "eslint --fix"
  ],
  ".{js,ts,vue,json}": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Add VFilterButton (#489)
  package.json
  pnpm-lock.yaml
  src/assets/icons/filter.svg
  src/components/SearchGridForm.vue
  src/components/VButton.vue
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VFilterDisplay.vue
  src/components/VFilters/VFilterTag.vue
  src/components/VFilters/VLicenseExplanationTooltip.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/README.md
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-filter-sidebar-visibility.js
  src/composables/use-media-query.js
  src/composables/use-window-scroll.js
  src/locales/en.json
  src/pages/search.vue
  src/styles/global.scss
  tailwind.config.js
  test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
  test/unit/specs/components/VHeader/v-filter-button.spec.js
  test/unit/specs/components/filter-checklist.spec.js
  test/unit/specs/components/filter-display.spec.js
  test/unit/specs/components/filter-tag.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix, prettier --write

Add searchbar to header (#491)
  src/assets/icons/openverse-logo-text.svg
  src/components/HeaderSection.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeader/meta/VSearchBar.stories.mdx
  src/components/VInputField/VInputField.vue
  src/components/VInputField/meta/VInputField.stories.mdx
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-match-routes.js
  src/composables/use-media-query.js
  src/composables/use-search-route.js
  src/locales/en.json
  src/pages/search.vue
  tailwind.config.js
  test/unit/specs/components/InputField/input-field.spec.js
  test/unit/specs/components/header-section.spec.js
  test/unit/specs/components/search-grid-form.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix, prettier --write

Update references to `InputField` to point to `VInputField` (#586)
  src/components/VInputField/VInputField.vue
  src/components/VInputField/meta/VInputField.stories.mdx
Due: eslint --fix, prettier --write

Open filters menu in sidebar/modal
  src/assets/icons/close.svg
  src/assets/icons/help.svg
  src/components/VButton.vue
  src/components/VCheckbox.vue
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VSidebarContent.vue
  src/components/VModal/VModal.vue
  src/components/VModal/VModalContent.vue
  src/components/VModal/VSidebarTarget.vue
  src/components/VTeleport/VTeleportTarget.vue
  src/composables/use-event-listener.js
  src/composables/use-filter-sidebar-visibility.js
  src/composables/use-media-query.js
  src/composables/use-scroll.js
  src/composables/use-window-scroll.js
  src/layouts/default.vue
  src/layouts/with-nav-search.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/locales/scripts/wp-locales.json
  src/pages/search.vue
  src/styles/base/generic.sass
  test/unit/specs/components/VHeader/v-filter-button.spec.js
  test/unit/specs/components/VHeader/v-header.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
Due: eslint --fix

Fix scroll button not scrolling correct element
  src/components/VScrollButton.vue
  src/layouts/default.vue
  src/pages/search.vue
Due: eslint --fix

Set top margin for main to accommodate for the header
  pnpm-lock.yaml
  src/layouts/default.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Fix testing problems
  src/pages/search.vue
  src/pages/search/index.vue
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix

Add VHeader
  package.json
  src/components/VHeader/README.md
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeader/VSearchBar/meta/VSearchBar.stories.mdx
  src/components/VHeader/meta/VHeader.stories.mdx
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-event-listener.js
  src/composables/use-media-query.js
  src/composables/use-window-scroll.js
  src/composables/window.js
  src/layouts/default.vue
  src/pages/search.vue
  test/unit/specs/components/Header/SearchBar/search-bar.spec.js
Due: eslint --fix, prettier --write

Extract search route handling into composable, set Logo loading when fetching
  src/components/VHeader/VHeader.vue
  src/composables/use-search-route.js
  src/composables/use-window-scroll.js
Due: eslint --fix

Add VFilterButton (#489)
  package.json
  pnpm-lock.yaml
  src/assets/icons/filter.svg
  src/components/SearchGridForm.vue
  src/components/VButton.vue
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VFilterDisplay.vue
  src/components/VFilters/VFilterTag.vue
  src/components/VFilters/VLicenseExplanationTooltip.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/README.md
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-filter-sidebar-visibility.js
  src/composables/use-media-query.js
  src/composables/use-window-scroll.js
  src/layouts/default.vue
  src/locales/en.json
  src/pages/search.vue
  src/styles/global.scss
  tailwind.config.js
  test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
  test/unit/specs/components/VHeader/v-filter-button.spec.js
  test/unit/specs/components/filter-checklist.spec.js
  test/unit/specs/components/filter-display.spec.js
  test/unit/specs/components/filter-tag.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix, prettier --write

feat: rename the event that triggers the deploy to production
  .github/workflows/build.yml
Due: none

Fix video tab
  src/store/media.js
Due: eslint --fix

Fix filters e2e tests by opening the sidebar
  test/e2e/filters.spec.js
Due: eslint --fix

Fix openverse.pot after-merge problems
  src/locales/po-files/openverse.pot
Due: none

init delete old code
  src/components/ImageGrid/ImageCell.vue
  src/components/ImageGrid/ImageGrid.vue
  src/components/VImageGrid/VImageGrid.vue
  src/components/VSearchGrid.vue
  src/pages/search/image.vue
  src/pages/search/index.vue
  test/e2e/search.spec.js
Due: eslint --fix

Fix e2e tests
  src/locales/scripts/wp-locales.json
  test/e2e/filters.spec.js
  test/e2e/search-query-client.spec.js
  test/e2e/search-query-server.spec.js
  test/e2e/search.spec.js
Due: eslint --fix

Improve modal close button padding
  src/components/VModal/VModalContent.vue
Due: eslint --fix

Add small size for dropdown button
  src/components/DropdownButton.vue
  src/components/meta/DropdownButton.stories.js
Due: eslint --fix

Use small size button for audio layout and match heights across play/pause and download buttons
  src/components/DownloadButton.vue
  src/components/DropdownButton.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
Due: eslint --fix

Update e2e tests
  test/e2e/content-types.spec.js
  test/e2e/search-query-client.spec.js
Due: eslint --fix

Double default timeout of playwright tests
  playwright.config.js
Due: eslint --fix

Truncate search titles
  src/components/VSearchGrid.vue
  src/components/VSearchResultsTitle.vue
  src/locales/scripts/wp-locales.json
  src/pages/search.vue
Due: eslint --fix

Add video and reorder content types
  src/assets/icons/video-content.svg
  src/components/VHeader/VContentSwitcher.vue
  src/composables/use-content-type.js
Due: eslint --fix

Improve NuxtLink handling in VButton
  src/components/VButton.vue
  src/components/VHeader/VContentSwitcher/VContentTypePopover.vue
  src/components/VHeader/VContentSwitcher/VPageMenuPopover.vue
  src/components/VHeader/VHeader.vue
  src/components/VItemGroup/VItem.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Combine layouts into one
  src/layouts/default.vue
  src/layouts/with-nav-search.vue
  src/pages/about.vue
  src/pages/audio/_id.vue
  src/pages/extension.vue
  src/pages/feedback.vue
  src/pages/image/_id.vue
  src/pages/meta-search.vue
  src/pages/search-help.vue
  src/pages/sources.vue
Due: eslint --fix

Fix media getters errors
  src/store/media.js
Due: eslint --fix

Fix CORS error in e2e request mocking
  test/e2e/content-types.spec.js
Due: eslint --fix

Fix result count in Video (when media type is null)
  src/components/VHeader/VContentSwitcher/VContentTypePopover.vue
Due: eslint --fix

Fix result count in VHeader
  src/components/VHeader/VHeader.vue
Due: eslint --fix

Make Content switcher items NuxtLinks
  src/components/VHeader/VContentSwitcher/VContentSwitcherButton.vue
  src/components/VItemGroup/VItem.vue
  src/styles/base/generic.sass
Due: eslint --fix

Fix e2e tests
  src/locales/scripts/wp-locales.json
  test/e2e/content-types.spec.js
  test/e2e/filters.spec.js
  test/e2e/search-query-client.spec.js
  test/e2e/search-query-server.spec.js
  test/e2e/search.spec.js
Due: eslint --fix

Fix unit tests
  src/components/VHeader/VContentSwitcher/VContentSwitcherButton.vue
  src/components/VHeader/VContentSwitcher/VContentTypePopover.vue
  test/unit/specs/components/VHeader/v-header.spec.js
Due: eslint --fix

Add changes from code review (types)
  src/composables/use-filter-sidebar-visibility.js
  src/composables/use-media-query.js
Due: eslint --fix

Show a generated artwork when the audio thumbnail is absent
  src/components/AudioThumbnail/AudioThumbnail.vue
Due: eslint --fix

Add the 'V-' prefix to audio thumbnail
  src/components/VAudioThumbnail/VAudioThumbnail.vue
  src/components/VAudioThumbnail/meta/VAudioThumbnail.stories.mdx
  src/components/VAudioTrack/layouts/VGlobalLayout.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
Due: eslint --fix, prettier --write

Add changes from code review (button isActive)
  src/components/VButton.vue
Due: eslint --fix

Add changes from code review and filters branch
  src/components/VFilters/VFilterChecklist.vue
  src/components/VHeader/VContentSwitcher/VContentSwitcherButton.vue
  src/components/VHeader/VContentSwitcher/VContentTypePopover.vue
  src/components/VHeader/VContentSwitcher/VDesktopSwitcher.vue
  src/components/VHeader/VContentSwitcher/VMobileSwitcher.vue
  src/components/VHeader/VContentSwitcher/VPageMenuButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VModal/VMobileModalContent.vue
  src/components/VModal/VSidebarTarget.vue
  src/components/VPopover/VPopover.vue
  src/components/VScrollButton.vue
  src/components/VTeleport/VTeleportTarget.vue
  src/layouts/default.vue
  src/pages/search.vue
  src/pages/search/index.vue
Due: eslint --fix
