Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": [
    "eslint --fix"
  ],
  ".{js,ts,vue,json}": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Document the ability to set background color
  src/components/AudioTrack/meta/Waveform.stories.mdx
Due: prettier --write

Remove the concept of 'aspect'
  src/components/AudioTrack/AudioTrack.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: eslint --fix, prettier --write

Fix pixel misalignment in audio-track row-layout waveform
  src/components/AudioTrack/Waveform.vue
  tailwind.config.js
Due: eslint --fix

Allow waveform features to be toggled
  src/components/AudioTrack/Waveform.vue
  src/components/AudioTrack/layouts/Row.vue
  src/components/AudioTrack/meta/Waveform.stories.mdx
Due: eslint --fix, prettier --write

Fix SSR search and search from homepage
  nuxt.config.js
  src/components/VHeroSection.vue
  src/pages/index.vue
  src/pages/search.vue
  test/e2e/homepage.spec.js
  test/unit/specs/components/hero-section.spec.js
Due: eslint --fix

Fix sources page and associated data
  src/data/existing-image-providers.js
  src/pages/sources.vue
  src/store/provider.js
Due: eslint --fix

Fix related and provider stat endpoints
  src/data/api-service.js
  src/data/audio-service.js
  src/data/existing-audio-providers.js
  src/data/existing-image-providers.js
  src/data/image-service.js
  src/data/media-provider-service.js
  src/pages/sources.vue
  src/store/provider.js
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix

Cleanup from @obulat
  src/data/api-service.js
  src/store/provider.js
Due: eslint --fix

Make waveform non-interactive when audio not ready
  src/components/AudioTrack/Waveform.vue
Due: eslint --fix

Enable and configure the Viewport addon
  nuxt.config.js
  src/constants/screens.js
Due: eslint --fix

Add a small size for the full layout
  src/components/AudioTrack/layouts/Full.vue
Due: eslint --fix

Define the box layout and register it in `AudioTrack`
  src/components/AudioTrack/AudioTrack.vue
  src/components/AudioTrack/layouts/Box.vue
  tailwind.config.js
Due: eslint --fix

Update documentation for all audio track layouts and sizes
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: prettier --write

Remove defunct 'XL' size
  src/components/AudioTrack/AudioTrack.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: eslint --fix, prettier --write

Fix creator URL key
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: prettier --write

Add focus outline to links
  src/components/AudioTrack/layouts/Full.vue
  src/components/AudioTrack/layouts/Row.vue
Due: eslint --fix

Change default format to MP3 to make testing easier on Safari
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: prettier --write

Use thicker focus outline
  src/components/AudioTrack/Waveform.vue
Due: eslint --fix

Add VHeader stub Rename VSearchBar and VSearchButton and move to VHeader Add VLogoLoader to VHeader and adjust header styles
  package-lock.json
  package.json
  src/components/License/meta/VLicense.stories.mdx
  src/components/VHeader/README.md
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeader/VSearchBar/meta/VSearchBar.stories.mdx
  src/components/VHeader/meta/VHeader.stories.mdx
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-event-listener.js
  src/composables/use-media-query.js
  src/composables/use-window-scroll.js
  src/composables/window.js
  src/layouts/default.vue
  src/layouts/with-nav-search.vue
  src/pages/search.vue
  test/unit/specs/components/Header/SearchBar/search-bar.spec.js
Due: eslint --fix, prettier --write

Integrate SearchBar in the Header
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/meta/VSearchBar.stories.mdx
  src/components/VInputField/VInputField.vue
  src/components/VInputField/meta/VInputField.stories.mdx
  src/pages/search.vue
  src/store/media.js
  test/unit/specs/components/InputField/input-field.spec.js
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix, prettier --write

Fix media tags for RTL languages
  src/components/AudioDetails/Tags.vue
  src/components/MediaTag/MediaTag.vue
Due: eslint --fix

Fix audio result license spacing
  src/components/AudioTrack/layouts/Row.vue
  test/unit/specs/components/MediaTag/media-tag.spec.js
Due: eslint --fix

Add ts-node to stop Storybook complaining about tsconfig.json
  package-lock.json
  package.json
Due: none

Setup search status
  src/components/VHeader/VHeader.vue
  src/components/VInputField/VInputField.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/search.vue
Due: eslint --fix

Use composable for i18n sync on default locale
  nuxt.config.js
  package-lock.json
  package.json
  src/composables/use-i18n-sync.js
  src/composables/use-storage.js
  src/layouts/default.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/locales/scripts/get-translations-status.js
  src/locales/scripts/get-validated-locales.js
  src/locales/scripts/locales-list.json
  src/locales/scripts/translated.json
  src/locales/scripts/update-locale-list.js
  src/mixins/i18n-sync.js
Due: eslint --fix

Extract TranslationStatusBanner.vue
  nuxt.config.js
  src/components/TranslationStatusBanner.vue
  src/composables/use-i18n-sync.js
  src/layouts/default.vue
  src/layouts/with-nav-search.vue
  src/mixins/i18n-sync.js
  src/utils/local.js
Due: eslint --fix

Add translation notification banner
  package.json
  src/components/NotificationBanner.vue
  src/composables/types.js
  src/composables/use-storage.js
  src/locales/en.json
  src/locales/scripts/get-translations-status.js
  src/mixins/i18n-sync.js
  src/store/notification.js
  src/utils/local.js
Due: eslint --fix

Unify locale lists and add translation status
  package.json
  src/composables/use-i18n-sync.js
  src/locales/scripts/create-locale-list.js
  src/locales/scripts/get-translations-status.js
  src/locales/scripts/get-validated-locales.js
  src/locales/scripts/locales-list.json
  src/locales/scripts/types.d.ts
  src/locales/scripts/untranslated-locales.json
  src/locales/scripts/update-locale-list.js
Due: eslint --fix

Update src/components/TranslationStatusBanner.vue
  src/components/TranslationStatusBanner.vue
Due: eslint --fix

Streamline scripts for fetching locale data
  package.json
  src/locales/scripts/create-locale-list.js
  src/locales/scripts/create-wp-locale-list.js
  src/locales/scripts/get-translations-status.js
  src/locales/scripts/get-translations.js
  src/locales/scripts/get-validated-locales.js
  src/locales/scripts/types.d.ts
  src/locales/scripts/untranslated-locales.json
  src/locales/scripts/update-locale-list.js
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Sync styles with learn.wp.org
  src/components/NotificationBanner.vue
Due: eslint --fix

Move the translation status banner to the top
  src/layouts/default.vue
  src/layouts/with-nav-search.vue
Due: eslint --fix

Sort wp-locales alphabetically
  src/locales/scripts/create-wp-locale-list.js
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Extract search route handling into composable, set Logo loading when fetching
  src/components/VHeader/VHeader.vue
  src/composables/use-search-route.js
  src/composables/use-window-scroll.js
Due: eslint --fix

Add VFilterButton
  package-lock.json
  package.json
  src/assets/icons/filter.svg
  src/components/SearchGridForm.vue
  src/components/VButton.vue
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VFilterDisplay.vue
  src/components/VFilters/VFilterTag.vue
  src/components/VFilters/VLicenseExplanationTooltip.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/README.md
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  src/composables/use-filter-sidebar-visibility.js
  src/composables/use-media-query.js
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/search.vue
  test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
  test/unit/specs/components/VHeader/v-filter-button.spec.js
  test/unit/specs/components/filter-checklist.spec.js
  test/unit/specs/components/filter-display.spec.js
  test/unit/specs/components/filter-tag.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix, prettier --write

Fix button styles on scroll
  src/components/VHeader/VFilterButton.vue
Due: eslint --fix

Update src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VFilterButton.vue
Due: eslint --fix

Add overlay handling
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
Due: eslint --fix

Replace watchEffect with watch to use immediate
  src/components/VHeader/VFilterButton.vue
Due: eslint --fix

Fix exported name not changed, e2e tests
  src/components/VSearchRating.vue
  test/e2e/search.spec.js
Due: eslint --fix
