Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": [
    "eslint --fix"
  ],
  ".{js,ts,vue,json}": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Remove SCSS using Tailwind
  src/components/EmbeddedNavSection.vue
  src/styles/form/input-textarea.sass
  tailwind.config.js
Due: eslint --fix

Replace `-left` with `-inline-start`
  src/styles/components/navbar.sass
Due: none

Add ItemGroup Popover story and correct lots of padding and width assumptions
  src/components/VButton.vue
  src/components/VItemGroup/VItem.vue
  src/components/VItemGroup/meta/VItemGroup.stories.js
  src/components/VPopover/VPopoverContent.vue
  src/components/VPopover/meta/VPopover.stories.js
Due: eslint --fix

Provide VIcon with the power to flip for RTL
  src/assets/icons/external-link.svg
  src/components/VIcon/VIcon.vue
  src/components/VIcon/meta/VIcon.stories.mdx
  tailwind.config.js
Due: eslint --fix, prettier --write

Replace specific directions with generic ones
  src/components/Dropdown.vue
  src/styles/components/navbar.sass
Due: eslint --fix

Use external-link icon from WordPress Design Library with RTL
  src/components/EmbeddedNavSection.vue
Due: eslint --fix

Fix package-lock.json engines
  package-lock.json
Due: none

Update src/components/VCheckbox.vue
  src/components/VCheckbox.vue
Due: eslint --fix

Apply code review suggestions
  src/components/SearchGridForm.vue
Due: eslint --fix

Remove redundant class
  src/components/EmbeddedNavSection.vue
Due: eslint --fix

Set explicit ltr direction for pages untranslated in rtl languages
  src/pages/about.vue
  src/pages/extension.vue
  src/pages/feedback.vue
  src/pages/meta-search.vue
  src/pages/search-help.vue
  src/pages/sources.vue
Due: eslint --fix

Make checkbox RTL-compatible
  src/components/VCheckbox.vue
Due: eslint --fix

Correctly handle search form on different screen sizes
  src/components/SearchGridForm.vue
  src/pages/search.vue
Due: eslint --fix

Change the search bar height on lg screen
  src/components/SearchGridForm.vue
Due: eslint --fix

Handle arrow key navigation inside of item group
  src/components/VIcon/VIcon.vue
  src/components/VItemGroup/VItem.vue
  src/components/VItemGroup/VItemGroup.vue
  src/components/VItemGroup/meta/VItemGroup.stories.js
  test/unit/specs/components/v-item-group.spec.js
Due: eslint --fix

Correctly handle RTL left/right navigation for horizontal item groups
  src/components/VItemGroup/VItemGroup.vue
  src/composables/use-i18n.js
  test/unit/specs/components/v-item-group.spec.js
Due: eslint --fix

Infinitely rotate item group arrow navigation
  src/components/VItemGroup/VItemGroup.vue
  test/unit/specs/components/v-item-group.spec.js
Due: eslint --fix

Toggle `SearchGridFilter` completely according to view (desktop/mobile)
  src/pages/search.vue
Due: eslint --fix

Keep prettier at v2.2.1
  package-lock.json
  package.json
Due: none

Undo formatting
  src/components/AudioTrack/PlayPause.vue
  src/components/AudioTrack/Waveform.vue
  src/components/AudioTrack/layouts/Global.vue
  src/components/AudioTrack/layouts/Row.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
  src/components/AudioTrack/meta/flac-waveform.json
  src/components/AudioTrack/meta/mp3-waveform.json
  src/components/AudioTrack/meta/ogg-waveform.json
  src/components/AudioTrack/meta/wav-waveform.json
  src/components/Filters/FiltersList.vue
  src/components/ImageDetails/PhotoDetails.vue
  src/components/MediaTag/MediaTag.vue
  src/components/NoticeBar/NoticeBar.vue
  src/components/SaferBrowsing.vue
  src/components/ScrollButton.vue
  src/components/SearchGridForm.vue
  src/components/Skeleton/AudioTrackSkeleton.vue
  src/locales/scripts/get-translations.js
  src/pages/extension.vue
  src/pages/search.vue
Due: eslint --fix, prettier --write

Update markup to match the Bulma documentation
  src/components/EmbeddedNavSection.vue
Due: eslint --fix

Use clearer syntax for dynamic styles
  src/components/HeaderSection.vue
Due: eslint --fix

Fix bug with icons moving to separate lines
  src/components/EmbeddedNavSection.vue
Due: eslint --fix

Move `vue-i18n-extract` and `babel-jest` to devDependencies
  package-lock.json
  package.json
Due: none

Removed unused image assets
  src/assets/behance_logo.svg
  src/assets/europeana_logo.svg
  src/assets/jamendo_logo.svg
  src/assets/nasa_logo.svg
  src/assets/sciencemuseum_logo.svg
  src/assets/smithsonian_logo.svg
  src/assets/spacex-logo.svg
Due: none

Restore husky
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

Make media query responsive
  src/composables/use-media-query.js
  src/pages/search.vue
Due: eslint --fix

init and remove + untrack app.html
  .gitignore
  package-lock.json
  package.json
  src/app.html
  src/utils/scrape-wp-org-global.js
Due: eslint --fix

script to build the app
  package.json
  src/utils/build-app-html-file.js
Due: eslint --fix

Improve comments and remove event listener on unmount
  src/composables/use-media-query.js
  test/unit/setup.js
Due: eslint --fix

init
  src/components/VLogoLoader/VLogoLoader.types.js
  src/components/VLogoLoader/VLogoLoader.vue
  src/components/VLogoLoader/meta/VLogoLoader.stories.js
Due: eslint --fix

Reduced motion support and basic state management
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-event-listener.js
  src/composables/use-media-query.js
Due: eslint --fix

🔄 Synced local '.github/workflows/pr_label_check.yml' with remote '.github/workflows/pr_label_check.yml'
  .github/workflows/pr_label_check.yml
Due: none

Update sentry version and turn it on only for production
  nuxt.config.js
  package-lock.json
  package.json
Due: eslint --fix

Replace layouts with embedded counterparts
  src/layouts/default.vue
  src/layouts/embedded-with-nav-search.vue
  src/layouts/embedded.vue
  src/layouts/with-nav-search.vue
Due: eslint --fix

Replace `NavSection` with `EmbeddedNavSection`
  src/components/EmbeddedNavSection.vue
  src/components/NavSection.vue
  src/locales/po-files/openverse.pot
Due: eslint --fix

Change layouts to static strings
  src/pages/about.vue
  src/pages/audio/_id.vue
  src/pages/extension.vue
  src/pages/feedback.vue
  src/pages/index.vue
  src/pages/meta-search.vue
  src/pages/photos/_id.vue
  src/pages/search-help.vue
  src/pages/search.vue
  src/pages/sources.vue
Due: eslint --fix
