Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": [
    "eslint --fix"
  ],
  ".{js,ts,vue,json}": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Update README.md
  README.md
Due: none

Use title case for workflow steps
  .github/workflows/gh-pages.yaml
Due: none

Add stop-gap solution for e2es
  .github/workflows/ci.yml
Due: none

Install e2e browsers
  .github/workflows/ci.yml
Due: none

Update API urls to avoid redirects
  src/data/api-service.js
  src/data/audio-service.js
  src/data/image-service.js
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
Due: eslint --fix

Quick fix for failing tests
  test/e2e/content-types.spec.js
Due: eslint --fix

Make MetaSearchForm test more robust
  test/e2e/content-types.spec.js
Due: eslint --fix

Make MetaSearchForm test more robust
  src/components/VMetaSearch/VMetaSearchForm.vue
  test/e2e/content-types.spec.js
Due: eslint --fix

Add trailing slash to the ReportService
  src/data/report-service.js
Due: eslint --fix

Make MetaSearchForm check more robust
  test/e2e/content-types.spec.js
Due: eslint --fix

Add VHeader stub Rename VSearchBar and VSearchButton and move to VHeader Add VLogoLoader to VHeader and adjust header styles
  src/layouts/default.vue
  src/layouts/with-nav-search.vue
Due: eslint --fix

Add VContentSwitcher
  src/assets/icons/all-content.svg
  src/assets/icons/audio-content.svg
  src/assets/icons/caret-down.svg
  src/assets/icons/ellipsis.svg
  src/assets/icons/image-content.svg
  src/components/VHeader/VContentSwitcher.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/meta/ContentSwitcher.stories.mdx
  src/composables/use-content-type.js
  src/locales/en.json
  src/pages/search.vue
Due: eslint --fix, prettier --write

Fix button outline style based on header scroll; hide content switcher on non-search routes
  src/components/VButton.vue
  src/components/VHeader/VContentSwitcher.vue
Due: eslint --fix

Extract Button and PopoverContent components
  src/components/VHeader/VContentSwitcher.vue
  src/components/VHeader/VContentSwitcherButton.vue
  src/components/VHeader/VContentTypePopover.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VPageMenuButton.vue
  src/components/VHeader/VPageMenuPopover.vue
  src/components/VItemGroup/VItem.vue
  src/composables/use-content-type.js
  src/composables/use-search-route.js
Due: eslint --fix

Add a massively over-engineered solution for mobile and desktop content switcher
  src/components/VHeader/VContentSwitcher.vue
  src/components/VHeader/VContentSwitcherButton.vue
  src/components/VHeader/VContentTypePopover.vue
  src/components/VHeader/VDesktopContentSwitcher.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VMenuOverlay.vue
  src/components/VHeader/VMobileContentSwitcher.vue
  src/components/VHeader/VPageMenuButton.vue
  src/components/VHeader/VPageMenuPopover.vue
  src/composables/use-overlay.js
  src/composables/use-pages.js
  src/composables/use-search-route.js
  src/pages/search.vue
Due: eslint --fix

Fix assets import links
  src/components/VHeader/VContentTypePopover.vue
  src/components/VHeader/VPageMenuPopover.vue
  src/composables/types.js
  src/composables/use-pages.js
Due: eslint --fix

Make search and filter store namespaced
  src/store/search.js
Due: eslint --fix

Fix map helper errors
  src/components/ContentReport/ContentReportForm.vue
  src/components/ContentReport/ReportError.vue
  src/components/ImageDetails/PhotoDetails.vue
  src/constants/mutation-types.js
  src/store/bug-report.js
  src/store/provider.js
  src/store/report-content.js
Due: eslint --fix

Refactor ContentReportForm to not use Vuex store
  package.json
  src/assets/icons/close.svg
  src/components/ContentReport/ContentReportForm.vue
  src/components/ContentReport/DmcaNotice.vue
  src/components/ContentReport/DoneMessage.vue
  src/components/ContentReport/OtherIssueForm.vue
  src/components/ContentReport/ReportError.vue
  src/components/ImageDetails/PhotoDetails.vue
  src/constants/action-types.js
  src/constants/mutation-types.js
  src/constants/store-modules.js
  src/data/report-service.js
  src/locales/en.json
  src/locales/po-files/openverse.pot
  test/unit/specs/components/ContentReport/content-report-form.spec.js
  test/unit/specs/components/ImageDetails/photo-details.spec.js
  test/unit/specs/store/report-content-store.spec.js
Due: eslint --fix

Rebase
  src/components/ContentReport/ContentReportForm.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix

Add search.js store
  src/store/search.js
Due: eslint --fix

Refactor ContentReportForm to composition API and rename with prefix
  src/assets/icons/chevron-left.svg
  src/assets/icons/flag.svg
  src/components/ContentReport/OtherIssueForm.vue
  src/components/ContentReport/ReportError.vue
  src/components/ImageDetails/ImageAttribution.vue
  src/components/ImageDetails/PhotoDetails.vue
  src/components/ImageDetails/VPhotoDetails.vue
  src/components/MediaInfo/CopyLicense.vue
  src/components/MediaInfo/MediaLicense.vue
  src/components/VContentReport/VContentReportForm.vue
  src/components/VContentReport/VDmcaNotice.vue
  src/components/VContentReport/VDoneMessage.vue
  src/components/VContentReport/VOtherIssueForm.vue
  src/components/VContentReport/VReportError.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/image/_id.vue
  test/unit/specs/components/ContentReport/content-report-form.spec.js
  test/unit/specs/components/ImageDetails/photo-details.spec.js
Due: eslint --fix

Change casing to comply with Vue standards
  src/components/VContentReport/VContentReportForm.vue
  src/components/VContentReport/VDmcaNotice.vue
  src/components/VContentReport/VDoneMessage.vue
  src/components/VContentReport/VOtherIssueForm.vue
Due: eslint --fix

Revert changes to the report service
  src/data/report-service.js
Due: eslint --fix

Update the lock file
  pnpm-lock.yaml
Due: none

feat: added deploy workflows for staging and production
  .github/workflows/build.yaml
  .github/workflows/push_production.yaml
  .github/workflows/push_staging.yaml
Due: none

🔄 Synced local '.github/workflows/pr_ping.yml' with remote '.github/workflows/pr_ping.yml'
  .github/workflows/pr_ping.yml
Due: none

🔄 Synced local '.github/workflows/new_prs.yml' with remote '.github/workflows/new_prs.yml'
  .github/workflows/new_prs.yml
Due: none

🔄 Synced local '.github/workflows/new_issues.yml' with remote '.github/workflows/new_issues.yml'
  .github/workflows/new_issues.yml
Due: none

🔄 Synced local '.github/workflows/pr_label_check.yml' with remote '.github/workflows/pr_label_check.yml'
  .github/workflows/pr_label_check.yml
Due: none

Format leftover files
  .github/release-drafter.yml
  .github/workflows-disabled/project-automation.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .prettierignore
  docker-compose.yml
  prettier.config.js
Due: eslint --fix

Match release drafter config with API repo
  .github/release-drafter.yml
Due: none

Remove redundant workflow
  .github/workflows-disabled/project-automation.yml
Due: none

🔄 Created local '.github/release_drafter.yml' from remote '.github/release_drafter.yml'
  .github/release_drafter.yml
Due: none

🔄 Created local '.github/workflows/draft_release.yml' from remote '.github/workflows_downstream/draft_release.yml'
  .github/workflows/draft_release.yml
Due: none

Fix isHeaderScrolled undefined on SSR
  src/composables/use-window-scroll.js
Due: eslint --fix

Use modal for filters
  src/assets/icons/close.svg
  src/components/VFilters/VFilterModal.vue
  src/components/VFilters/VFilterModalContent.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeaderFilter.vue
  src/composables/use-filter-sidebar-visibility.js
  src/composables/use-media-query.js
  src/layouts/default.vue
  src/locales/scripts/wp-locales.json
  src/pages/search.vue
Due: eslint --fix

Use svg file for help icon
  src/assets/icons/help.svg
  src/components/VFilters/VFilterChecklist.vue
Due: eslint --fix

Add background to the checkbox
  src/components/VCheckbox.vue
Due: eslint --fix

Initialize mediaQuery in useFilterSidebarVisibility inside function
  src/composables/use-filter-sidebar-visibility.js
Due: eslint --fix
