Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": [
    "eslint --fix"
  ],
  ".{js,ts,vue,json}": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Update figma links in README
  README.md
Due: none

Add VHeader stub Rename VSearchBar and VSearchButton and move to VHeader Add VLogoLoader to VHeader and adjust header styles
  package-lock.json
  package.json
  src/components/License/meta/VLicense.stories.mdx
  src/components/VHeader/README.md
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeader/VSearchBar/meta/VSearchBar.stories.mdx
  src/components/VHeader/meta/VHeader.stories.mdx
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-event-listener.js
  src/composables/use-media-query.js
  src/composables/use-window-scroll.js
  src/composables/window.js
  src/layouts/default.vue
  src/layouts/with-nav-search.vue
  src/pages/search.vue
  test/unit/specs/components/Header/SearchBar/search-bar.spec.js
Due: eslint --fix, prettier --write

Extract search route handling into composable, set Logo loading when fetching
  src/components/VHeader/VHeader.vue
  src/composables/use-search-route.js
  src/composables/use-window-scroll.js
Due: eslint --fix

Add VFilterButton
  package-lock.json
  package.json
  src/assets/icons/filter.svg
  src/components/SearchGridForm.vue
  src/components/VButton.vue
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VFilterDisplay.vue
  src/components/VFilters/VFilterTag.vue
  src/components/VFilters/VLicenseExplanationTooltip.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/README.md
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  src/composables/use-filter-sidebar-visibility.js
  src/composables/use-media-query.js
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/search.vue
  test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
  test/unit/specs/components/VHeader/v-filter-button.spec.js
  test/unit/specs/components/filter-checklist.spec.js
  test/unit/specs/components/filter-display.spec.js
  test/unit/specs/components/filter-tag.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix, prettier --write

Add overlay handling
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
Due: eslint --fix

Fix button styles on scroll
  src/components/VHeader/VFilterButton.vue
Due: eslint --fix

Update src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VFilterButton.vue
Due: eslint --fix

Replace watchEffect with watch to use immediate
  src/components/VHeader/VFilterButton.vue
Due: eslint --fix

Fix after-merge problems
  src/components/VHeader/VHeader.vue
  src/pages/search.vue
Due: eslint --fix

Use pnpm
  .npmrc
  Dockerfile
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

init postcss plugin
  src/utils/postcss-prefix-all-rules.js
Due: eslint --fix

npmrc pre and post addition; explicitly use "run" command in Docker
  .npmrc
  Dockerfile
Due: none

Use pnpm in CI and husky
  .github/workflows/ci.yml
  .github/workflows/pre-build.yaml
  .husky/pre-commit
  .husky/pre-push
  package.json
  src/locales/scripts/README.md
Due: none

Run prettier
  .prettierignore
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
  src/components/AudioTrack/meta/flac-waveform.json
  src/components/AudioTrack/meta/mp3-waveform.json
  src/components/AudioTrack/meta/ogg-waveform.json
  src/components/AudioTrack/meta/wav-waveform.json
  src/components/VItemGroup/VItemGroup.vue
  src/components/VModal/VModalContent.vue
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.types.js
  src/locales/scripts/get-translations.js
Due: eslint --fix, prettier --write

Use aria-label to fix incorrect label bug; move store to the header
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  test/unit/specs/components/VHeader/v-filter-button.spec.js
Due: eslint --fix

Meta Search Provider: The Greats added (ticket #299)
  src/utils/get-legacy-source-url.js
Due: eslint --fix

Unify VLicense casing
  src/components/License/meta/VLicense.stories.mdx
Due: prettier --write

Improve header scroll behavior
  src/components/VHeader/VHeader.vue
  src/composables/use-window-scroll.js
  src/layouts/default.vue
  src/styles/global.scss
Due: eslint --fix

Add VHeader stub Rename VSearchBar and VSearchButton and move to VHeader Add VLogoLoader to VHeader and adjust header styles
  package.json
  src/components/License/meta/VLicense.stories.mdx
  src/components/VHeader/README.md
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeader/VSearchBar/meta/VSearchBar.stories.mdx
  src/components/VHeader/meta/VHeader.stories.mdx
  src/components/VLogoLoader/VLogoLoader.vue
  src/composables/use-event-listener.js
  src/composables/use-media-query.js
  src/composables/use-window-scroll.js
  src/composables/window.js
  src/layouts/default.vue
  src/layouts/with-nav-search.vue
  src/pages/search.vue
  test/unit/specs/components/Header/SearchBar/search-bar.spec.js
Due: eslint --fix, prettier --write

Update pnpm lockfile
  pnpm-lock.yaml
Due: none

Replace babel-eslint with @babel/eslint-parser
  .eslintrc.js
  package.json
Due: eslint --fix

Fix pnpm lockfile
  .gitignore
  pnpm-lock.yaml
Due: none

Refactor; remove overlay conditional logic
  src/components/VHeader/README.md
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
Due: eslint --fix

More refactoring and test coverage
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  test/unit/specs/components/VHeader/v-filter-button.spec.js
Due: eslint --fix

Fix formatting issue
  src/components/TranslationStatusBanner.vue
Due: eslint --fix

Remove accidental file
  log.txt
Due: none

Remove .zshrc
  .zshrc
Due: none

Fix filter length > 2 in tests
  test/unit/specs/components/VHeader/v-filter-button.spec.js
Due: eslint --fix

test typo
  test/unit/specs/components/VHeader/v-filter-button.spec.js
Due: eslint --fix

Hide header searchbar on homepage
  src/components/VHeader/VHeader.vue
Due: eslint --fix

VLogo focus styles
  src/components/VHeader/VHeader.vue
Due: eslint --fix

Delete legacy search grid searchbar
  src/components/SearchGridForm.vue
  src/pages/search.vue
  test/unit/specs/components/search-grid-form.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix

Switch to semantic header tag
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
Due: eslint --fix

Allow for custom default state of media queries in SSR
  src/composables/use-media-query.js
Due: eslint --fix

Logo logic, fix breakpoint order
  src/components/VHeader/VHeader.vue
  src/components/VInputField/VInputField.vue
  src/components/VLogoLoader/VLogoLoader.vue
  tailwind.config.js
Due: eslint --fix

Fix media store tests
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix

Apply suggestions from code review
  src/components/VHeader/VHeader.vue
Due: eslint --fix

Remove overlay code
  src/components/VHeader/VHeader.vue
Due: eslint --fix
