Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": [
    "eslint --fix"
  ],
  ".{js,ts,vue,json}": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Simplify focus management and only allow a single disclosure
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.types.js
  src/components/VPopover/VPopoverContent.vue
  src/components/VPopover/meta/VPopover.stories.js
  src/composables/use-disclosure-ref.js
  src/composables/use-event-listener-outside.js
  src/composables/use-focus-on-blur.js
  src/composables/use-focus-on-child-unmount.js
  src/composables/use-focus-on-hide.js
  src/composables/use-hide-on-click-outside.js
  src/composables/use-popper.js
Due: eslint --fix

Fix button tests
  test/unit/specs/components/v-button.spec.js
Due: eslint --fix

Remove stray console log
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-focus-on-show.js
Due: eslint --fix

Fix focus management
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.types.js
  src/components/VPopover/VPopoverContent.vue
  src/components/VPopover/meta/VPopover.stories.js
  src/composables/use-event-listener-outside.js
  src/composables/use-hide-on-click-outside.js
  src/composables/use-popper.js
Due: eslint --fix

Document props and events
  src/components/VPopover/VPopover.vue
Due: eslint --fix

Simplify some things
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-popper.js
Due: eslint --fix

Rename `License` component to `VLicense`
  src/components/AudioTrack/layouts/Row.vue
  src/components/License/VLicense.vue
  src/components/License/meta/VLicense.stories.mdx
  src/constants/license.js
Due: eslint --fix, prettier --write

Replace PDM icon
  src/assets/licenses/nc.svg
  src/assets/licenses/pdm.svg
Due: none

Show the CC logo with the CC0 tool
  src/components/License/VLicense.vue
Due: eslint --fix

Make the focus style identical to hover
  src/components/InputField/InputField.vue
Due: eslint --fix

Replace `hover` & `focus` combo with `active` state
  src/components/Header/SearchBar/SearchButton.vue
Due: eslint --fix

Logo fix
  src/assets/licenses/pdm.svg
Due: none

feat: fixing some issues in Dockerfile
  Dockerfile
Due: none

Node 16 and NPM 7
  package-lock.json
  package.json
Due: none

update engines key
  package.json
Due: none

npm 8
  package-lock.json
  package.json
Due: none

feat: added dockerignore file and fix Dockerfile multi-stage
  .dockerignore
  Dockerfile
  package.json
Due: none

feat: added dev mode stage in Dockerfile and fix docker compose to allow the use of this stage
  Dockerfile
  docker-compose.yml
Due: none

Fix pinning issues
  package.json
Due: none

Fix test failures
  src/components/AudioResultsList.vue
  src/components/HeroSection.vue
  src/pages/search.vue
  src/store/media.js
  src/store/search.js
  test/unit/specs/store/search-store.spec.js
Due: eslint --fix

Handle homepage filters locally to not trigger media fetch
  src/components/HeroSection.vue
  src/components/HomeLicenseFilter.vue
  src/pages/search.vue
  src/store/media.js
  src/store/search.js
  src/styles/results-page.scss
  src/utils/prepare-search-query-params.js
  test/unit/specs/components/hero-section.spec.js
  test/unit/specs/components/home-license-filter.spec.js
  test/unit/specs/store/media-store.spec.js
  test/unit/specs/store/search-store.spec.js
Due: eslint --fix

Update test/unit/specs/store/media-store.spec.js
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix

Revert import reordering
  src/components/EmbeddedNavSection.vue
  src/components/HeroSection.vue
  src/components/SearchGridManualLoad.vue
  src/pages/audio/_id.vue
  src/pages/search.vue
Due: eslint --fix

Simplify search and media states
  src/components/AudioDetails/Tags.vue
  src/components/AudioResultsList.vue
  src/components/EmbeddedNavSection.vue
  src/components/HeroSection.vue
  src/components/NavSection.vue
  src/components/PhotoTags.vue
  src/components/SearchGridManualLoad.vue
  src/constants/action-types.js
  src/constants/mutation-types.js
  src/pages/search.vue
  src/store/media.js
  src/store/search.js
  src/store/types.d.ts
  src/utils/search-query-transform.js
  test/e2e/homepage.spec.js
  test/unit/specs/components/nav-section.spec.js
  test/unit/specs/components/photo-tags.spec.js
  test/unit/specs/components/search-grid.spec.js
  test/unit/specs/store/media-store.spec.js
  test/unit/specs/store/provider.spec.js
  test/unit/specs/store/search-store.spec.js
  test/unit/specs/utils/search-query-transform.spec.js
Due: eslint --fix

Prettier fixes
  src/store/types.d.ts
Due: eslint --fix

Correctly update query on Search button click
  src/components/SearchGridForm.vue
  src/pages/search.vue
Due: eslint --fix

Remove logging
  src/pages/search.vue
Due: eslint --fix

Show no result in metaSearchForm only if not fetching
  src/components/SearchGridManualLoad.vue
Due: eslint --fix

Add e2e test for search term change
  test/e2e/search-query-client.spec.js
Due: eslint --fix

Add e2e test for search term change correctly
  test/e2e/search-query-client.spec.js
Due: eslint --fix

Remove `nuxt-ssr-cache` and `patch-package`
  nuxt.config.js
  package.json
  patches/nuxt-ssr-cache+1.5.2.patch
Due: eslint --fix

Correct dependencies placement
  package-lock.json
  package.json
Due: none

Change dropdown.spec.js to use testing-library to fix it
  test/unit/specs/components/dropdown.spec.js
Due: eslint --fix

Add `VIcon` to stubs in audio-track.spec.js
  test/unit/specs/components/AudioTrack/audio-track.spec.js
Due: eslint --fix

Comment some search-grid-filter tests
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix

Format files
  src/components/AudioTrack/PlayPause.vue
  src/components/AudioTrack/Waveform.vue
  src/components/AudioTrack/layouts/Global.vue
  src/components/AudioTrack/layouts/Row.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
  src/components/AudioTrack/meta/flac-waveform.json
  src/components/AudioTrack/meta/mp3-waveform.json
  src/components/AudioTrack/meta/ogg-waveform.json
  src/components/AudioTrack/meta/wav-waveform.json
  src/components/Filters/FiltersList.vue
  src/components/ImageDetails/PhotoDetails.vue
  src/components/MediaTag/MediaTag.vue
  src/components/NoticeBar/NoticeBar.vue
  src/components/SaferBrowsing.vue
  src/components/ScrollButton.vue
  src/components/SearchGridForm.vue
  src/components/Skeleton/AudioTrackSkeleton.vue
  src/locales/scripts/get-translations.js
  src/pages/extension.vue
  src/pages/search.vue
  src/styles/utilities/functions.scss
Due: eslint --fix, prettier --write

Bump node version to 16.13.0 on ci workflow
  .github/workflows/ci.yml
Due: none

Fix state errors
  jest.config.js
  src/components/Filters/SearchGridFilter.vue
  src/constants/action-types.js
  src/constants/mutation-types.js
  src/pages/index.vue
  src/store/media.js
  src/store/search.js
  test/unit/specs/components/hero-section.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
  test/unit/specs/store/media-store.spec.js
  test/unit/specs/store/search-store.spec.js
Due: eslint --fix

Various clean ups
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-focus-on-blur.js
  src/composables/use-focus-on-hide.js
  src/composables/use-hide-on-click-outside.js
  src/composables/use-popover-content.js
Due: eslint --fix
